.wrapper{
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.blu{
    color:blue;
}
.name{
    width:300px;
}
.definition{
    width: 550px;
    height: 100px;
}