<app-toolbar class="toolbar" ></app-toolbar> 


  <div class="wrapper" >

    <div class="cover">
      <div class="shop" routerLink='/shop' >SHOP</div>
      <div>
        <a class="shop" href="https://forms.gle/CCXMNGbmzSfqpWBZA">Amulet Design Course Signup</a>
      </div>
      <img src="../../../assets/merkaba and seed 2-04-04.png">
    </div>
    

    <div class="about"> <p>Finding All The Chakras is a healing arts organization dedicated to purifying and protecting space for the transfer of information. Healing stones are presented and redesigned as tools in order for individuals to set clear intentions with their energy at all times. Every tool is created by Lark Dixon, the founder of Finding ATC and creator of this site.</p> <br>
      <div class="social-medias">
        
        *<a class="shoppingLink" href="https://www.instagram.com/findingatc/">Instagram</a> 
        *<a class="shoppingLink" href="https://etsy.me/2WAF9pW">Etsy</a> 
        *<a href=" https://www.facebook.com/FindingATC/">Facebook</a>
        <div>Website designed and developed by <a href="https://github.com/LarkEaglin">*Lark Dixon</a></div> <br>
        <div>Need more info? Have a correction/suggestion? Reach out to me at larkdixonworks@gmail.com<br>Every single item on this site has been researched, designed and implemented by my own hand. It is compiled here in hopes that you may begin to heal yourself as i have begun to heal myself. Data is presented as it comes to me and so I share with you my living codex of esoteric and historical information. Peace and blessings forever -Lark</div> 
      </div>
      
      <div>Editor's <span routerLink = '/login'>*login</span> </div>
      
    </div>
    

    <!-- <div class="gallery"> <h3>Gallery:</h3>
      <div class="gallery-item" *ngFor= 'let i of index' routerLink='/{{i.category}}/{{i.id}}' >

        <div class="title selector">
          <div class="title-name">{{i.obj_name}}</div>
          <div class="detail_1">{{i.detail_1}}</div>
        </div>
        <div class="image">
          <img src="{{i.mainImage}}"> 
        </div>
      </div>
  </div> -->


  </div>

        <!-- <input class="indexSearch" type="text" [(ngModel)]='indexSearch' placeholder="Search"/> -->

  <!-- <div>
    <p id="footer">Created by <a href="https://github.com/LarkEaglin">Lark Eaglin</a>.</p>
  </div> -->