<div *ngIf="showMePartially" id="orb" class="wrapper">
    <div>right side</div>
    <div class="content">
        <div class="side-image" >orb</div>

        <div >
            
            <div class="text-zoom" routerLink='/chakras' >chakras</div>
            <div class="text-zoom" routerLink='/phases' >phases</div>
            <div class="text-zoom" routerLink='/elements' >elements</div>
            <div class="text-zoom" routerLink='/planets' >planets</div>
            <div class="text-zoom" routerLink='/herbs' >herbs</div>
            <div class="text-zoom" routerLink='/crystals' >crystals</div>
            <div class="text-zoom" routerLink='/solids' >platonic Solids</div>
            <div class="text-zoom" routerLink='/attributes' >attributes</div>
            <div class="text-zoom" routerLink='/shop' >shop</div>
            


            
        </div>

        
   

    </div>
    <div (click)='close()' >exit button</div>
</div>
