
<app-toolbar class="toolbar" ></app-toolbar>
    
<div class="nav">
    <div routerLink='/image-editor' >Image Editor</div>
    <div routerLink='/index'>index</div>
</div>



<div class="wrapper">
    <p>
    Edit Database:
</p>
<div class="nav">
    <div routerLink='/image-editor' >Image Editor</div>
    <div routerLink='/index'>index</div>
</div>
    <app-herb-data></app-herb-data> 
    <app-chakra-data></app-chakra-data>
    <app-attribute-data></app-attribute-data>
    <app-crystal-data></app-crystal-data>
    
    <app-astro-data></app-astro-data>
    <app-planet-data></app-planet-data>
    <app-phase-data></app-phase-data>
    <app-day-data></app-day-data>
    <app-solids-data></app-solids-data>
    <app-element-data></app-element-data>
  </div>
