

.wrapper {
    margin: 1em;
    margin-top: 2.7em;
    text-align: center;
    font-size: 20px;
    line-height: 2.2;
  }

.content{    
    text-align: center;
    align-items: center;
    // div{
    // border-style: solid;
    // border-color: blue;
    // }
}



.obj{
    display: grid;
    grid-template-areas: 
    ". identify identify ."
    "description description description description"
    ". crystal crystal .";
}

.identify {
    grid-area: identify;
    text-align: center;
    margin-top: 100px;
    margin: auto;
    
    div{
        height: 35px;
    }
    .sans_name{
        font-size: 2rem;
        text-align: center;
        padding: 10px;
    }
    .name{
        font-size: 1.5rem;
    }
  }
  
  .crystal {
    grid-area: crystal;
    img{
        max-width: 250px;
        height: auto;
        text-align: center;
        align-items: center;
        // margin-right: 120px;
    }
  }
  
  .description {
    grid-area: description;
    margin-bottom: 5px;
    // font-size: 16px;
  }



@media only screen and (max-width: 650px){

    .wrapper{
        margin-top: .1em;
    }
    .content{
        text-align: center;
        align-items: center;

    }
    .obj{
        display: grid;
        grid-template-areas: 
        ". identify  identify ."
        ". crystal crystal ."
        "description description description description";
        img{
            margin: auto;
        }
    }

  }